body { 
    font-family: Arial, sans-serif; 
    display: flex; 
    height: 100vh; 
    align-items: center; 
    justify-content: center; 
    background: url('images/wallpaperflare.com_wallpaper.jpg') no-repeat center center/cover; 
    background-color: #f4f4f9; 
    margin: 0;
    padding: 0; 
}

.container { 
    background: rgba(255, 255, 255, 0.2); /* Reduced opacity for a transparent effect */
    padding: 30px; 
    border-radius: 15px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Slightly stronger shadow for better visibility */
    width: 100%; 
    max-width: 420px; 
    backdrop-filter: blur(8px); /* Increased blur for improved focus on content */
}

h2 {
    text-align: center;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

label, input {
    width: 100%;
}

button { 
    background: linear-gradient(to right, #8B0000, #FFFFFF); /* Wine red to white gradient */
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    margin-top: 20px; 
    cursor: pointer; 
    width: 100%; 
    border-radius: 5px; 
    transition: background 0.5s ease; /* Smooth gradient transition */
}

button:hover { 
    background: linear-gradient(to right, #B22222, #FFDAB9); /* Richer red to soft peach for hover */
    transform: scale(1.05); /* Slight scaling effect for emphasis */
}

#result { 
    margin-top: 20px; 
    padding: 10px; 
    background-color: #e7f5ff; 
    border: 1px solid #91d5ff; 
    border-radius: 5px; 
    text-align: center; 
}
